*{
    top:0;
    left:0;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    /* font-size: 62.5%; */
}
html{
    color:#313131;
}
a{
    text-decoration: none;

}
.text {
    white-space: pre-wrap;
    color: rgba(0,0,0,.8);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
}
span{
    display: inline-block;
}
.mt-132 {
    margin-top: 132px;
}
li {
    list-style: none!important;
}
.pdl-16 {
     padding-left : 16px;
}
.text-white{
    color: #fff !important;
}
.text-red {
    color :red!important;
}
.row{
    margin:8px -8px;
 }
.wid-110 {
    width: 110px;
}
.col{
    margin: 0 8px ;
}
.col-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
}
.col-7 {   
    flex: 0 0 52.33333%;
    width: 52.33333%;
}
.col-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%;
}
.col-8 {   
    flex: 0 0 66.66667%;
    width: 66.66667%;
}
.col-80{
    width:80%;
}
.col-20{
    width:20%;
}
.header{
    background-image: linear-gradient(to top,#FF6633, #f33c2b);
    position:fixed;
    width: 100%;
    z-index: 100;
}
.nav{
    display:flex;
    justify-content: space-between;
    color: #fff;
    

}
.nav .nav__list{
    display:flex;
    font-size: 14px;
}
.nav__list-item {
    display:flex;
    padding: 10px 4px ;

    margin:1px 0 ;
    position :relative;
}
.nav__list-item:not(:last-child) {
    border-right:2px solid #F96D5C;

}
.new-price,
.range-price{
    color:#EE4D2D;
}
.nav__list-item a:hover{
    opacity: 0.8;

}
.nav__list-item a{
    color: #fff;
}
.nav__list-item a, 
.nav__list-item p {
    padding : 0 4px;
}
.qr-code {
    position: relative;
}
.qr-code__img  {
    position:absolute; 
    display: none; 
    top: 38px;
    z-index: 999;
    border-radius: 8px;
     overflow: hidden;
    animation: fadeIn 0.3s ease;
}
.qr-code__img::before{
    content: "";
    position: absolute;
    background-color: transparent;
    height: 20px;
    width: 100px;
    top: -10px;
}
.qr-code:hover .qr-code__img {
    display:block;
}
.header__noti img {
    width: 40%;
    margin:auto;

}
.header__noti {
    position: absolute;
    z-index: 399;
    left: -284%;
    top: 33px;
    width: 400px;
    height: 350px;
    background-color: #fff;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display:flex;
    transform-origin: 88% top; 
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5); 
    transition: all 0.2s ease ;
    box-shadow: 0 0 4px rgba(0 ,0 ,0 , 0.3);

}
.header-lower__cart:hover .cart-empty-img,
.noti-item:hover .header__noti{
    transform: scale(1); 
    opacity: 1;
    visibility: visible;
}
.cart-empty-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    top: 67px;
    position: absolute;
    left: -368%;
    background: #fff;
    transform-origin: 96% top;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5); 
    transition: all 0.2s ease ;
    box-shadow: 0 0 4px rgba(0 ,0 ,0 , 0.3);

}
.cart-empty-img img{
    width: 30%;
}
.cart-empty-img::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    top: -19px;
    right: 12px;
}
.cart-empty-img  p {
    color: #313131;
    font-size: 16px;
}
@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.header__noti::before {
    content :"";
    border :12px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top:-20px;
    
    left:88%;

}
.signin-login {
    width: 100%;
    display: flex;
}
.signin,.login{
    width :50%;
    padding: 8px 12px;
    border-top: 1px solid rgb(196, 196, 196) ;

}
.signin:hover ,
.login:hover {
    background-color:rgb(196, 196, 196);
}
.signin a,
.login a  {
    color: #000;
    width :100%;
    padding :0;
    display:block;
    font-size: 16px;
}
.header-lower{
    display:flex;
}
.header-lower__logo img {
    height: 90px;
}
.header-lower__logo{
    padding-right:40px;
}
.searchbar{
    width:840px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    position: relative;

}
.searchbar__box{
    display: flex;
    background-color: #fff;
    width: 100%;justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 4px;

}
.searchbar__box i{
    background-color: #FB5533;
    border-radius: 8px;
    border: 4px solid #fff; 
    display: flex;
    align-items: center;
    min-width: 60px;
    max-width: 80px;
    justify-content: center;
    font-weight: 600;
}
.searchbar__box input{
    outline: none;
    border: none;
    flex-grow:1;
    padding:12px 10px;
}
.searchbar__sugggest {
    display:flex;
}
.searchbar__sugggest li{
    margin-right: 8px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.header-lower__cart{
    display: flex;
    align-items: center;
    width: 90px;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.search-history { 
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 60px;
    display: none;
}
.open {
    display: block !important;;
}
.close{
    display:none !important;;
}

ul.search-history li {
    margin-bottom: 8px; 
    cursor: pointer;
}
.event{
    display: flex;
    justify-content: space-between;

}
.event img {
    width: 80px;
 
   border-radius: 4px;
}
.container{
    margin-top:132px;
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 4px solid #ee4d2d;
}
.content{

}
.over-product {
    display: flex;
    background-color: #fff;

}
.page-product-breadcrumb {
    font-size: 14px;
    padding:20px 20px 12px 20px;
    background-color: #F5F5F5;
}
.page-product-breadcrumb span {
     cursor: pointer;
}

.over-img{
    padding:20px 15px;
} 
.big-img {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-img img {
    width: 100%;
    max-height: 100%;
    margin: auto;
}
.small-img {
    position:relative;
    margin: 5px -5px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: 70px;

}
.img {
    width: 20%;
    padding: 4px;
    box-sizing: border-box;
}
.img:hover {
    border  :  2px solid  #EE4D2D;
}
.img img {
    width: 88px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.share-liked {
    display: flex;
    justify-content:space-between ;
    padding:16px 8px ;
}
.arrow {
   position: absolute; 
   top:50%;
   transform: translateY(-50%);
   padding:16px 8px;
   background-color: #55555560;


}
.arrow-prev{

}
.arrow-next{
    left: calc(100% - 30px);
}
.share-liked i {
    font-size: 24px;
    padding-right: 4px;
}
.mess {
    color:#0384FF;
}
.face {
    color:#3B5999;
}
.twitter {
    color:#10C2FF;
}
.pinterest {
    color:#DE0217;
}
.heart {
    color:#FF424F;
}
.name-product {
    padding-bottom: 16px;
    padding-top: 8px;
}
.mall-tag {
    display: inline-block;
    background-color: rgb(208, 1, 27);
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 12px;
}
.name-product h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.rate-selled {
    font-size: 14px;
    cursor: pointer;

}
.rate-selled>span {
    padding: 0px 16px;
} 
.rate-selled>span:not(:last-child) {
    border-right: 2px solid #0000001f;
}
.rate-star i {
    color: #D0011B;
}
.special-event {
    background-image: url(/assets/img/detail-product/specail-event/7e78a150956d6433fb8736b271e4dce9.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    margin: 28px 0;
}
.price {
 background-color: #FAFAFA; 
 display: flex;
 padding: 16px 20px;
 align-items: center;

}
.old-price {
    text-decoration: line-through;
    font-size: 14px;
    opacity: 0.7;
}
.new-price {
    font-size: 24px;
    margin: 0 24px;
}
.tag-sale-off {
    background-color: #D0011B;
    padding: 4px 8px;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}

.voucher {
    display: inline-block;
    padding-top: 20px;
}
.voucher span {
    font-size: 12px;
}
.voucher-list {
    display: inline-block; 
    margin-left: -3px;
    position: relative;
    
}
.voucher-item {
    margin: 0 12px;
    padding: 4px 8px;
    background-color: #fb593124;
    line-height: 35px;
    font-size: 14px;
    color: #f84f2f;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
}
.voucher-item::before, .voucher-item::after {
    content: "";
    height: 24px;
    width: 8px;
    background-image: radial-gradient(#fff 3px, transparent 0px);
    background-size: 8px 8px;
    background-repeat: repeat-y;
    position: absolute;
}
.voucher-item::before {
    top: 3px;
    left: -4px;
}

.voucher-item::after{
    top: 3px;
    right: -4px; 
}
.voucher-list:hover .detail-voucher {
    opacity: 1;
    transform: scale(1);
    visibility: visible;

}
.detail-voucher {
    height: 350px;
    width: 410px;
    padding: 24px;
    border: 1px solid #0000001f;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    background: #fff;
    top: 44px;
    transform-origin: 5% top;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s linear;
    visibility: hidden;
}

.detail-voucher::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: -8px;
    left: 20px;
    background: #fff;
    transform: skew(45deg, 135deg);
    border-top: 1px solid #0000001f;
    border-right: 1px solid #0000001f
}
.detail-voucher::after {
    content: "";
    background: transparent;
    height: 16px;
    width: 370px;
    left: 8px;
    top: -15px;
    position: absolute;
}

.detail-voucher > p {
    font-size: 12px;
    color: rgb(146, 146, 146);
    padding-bottom: 12px;
}
.detail-voucher h4 {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    margin-bottom: 8px;
}
.detail-vocher-item {
    display: flex;
    margin: 10px 0;
    background: #fff;
    border: 1px solid #0000001f;
}
.detail-voucher-list {
    height: 310px;
    overflow: auto;
    background: #fafafa;
}
.detail-voucher-img {
    padding: 16px;
    border-right: 1px dashed #0000001f;
}
.detail-voucher-img-wrapper {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
}
.detail-voucher-img img {
    width: 80px;
    max-height: 80px;
    margin: auto;
}

p.detail-voucher-discription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}
.detail-voucher-rule {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px 12px;
}
p.detail-voucher-exp {
    font-size: 12px;
}
.detail-voucher-btn {
    margin: auto;
}
.btn-voucher {
    background-color: #f33c2b;
    color: #fff;
    border: none;
}





.delivery {
    display: flex;
    margin-top: 20px;
    font-size: 12px;
}

.delivery>i {
    padding-right: 4px;
    padding-left: 13px;
}
.delivery-to, .delivery-free{
    font-size: 14px;
    line-height: 1.4;
}
.delivery-to span:first-child, 
.delivery-free span:first-child {
    padding-right : 6px;
}
.color-sellection {
    font-size: 14px;
    margin-top: 20px;
}
.color-sellection span:first-child {
    font-size: 12px;


}
.btn-small {
    padding: 10px 16px;
    border: 1px solid #0000001f;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
}
.btn-small:hover {
    border-color:#ee4d2d;
}

.quantity {
    display: flex;
    margin-top: 16px;
    align-items: center;

}
.quantity span {
    font-size:12px;
}
.change-quantity {
    margin-left: 12px;
    border: 1px solid #0000001f;
    cursor: pointer;


} 
.minus {
    border-right: 1px solid #0000001f;
}
.plus {
    border-left: 1px solid #0000001f;

}
.change-quantity i, .change-quantity span {
    padding: 8px;
    height: 18px;
}
.change-quantity span {
    text-align: center;
    width: 32px;
}
.change-quantity span {
    font-size: 16px;
}
.quantity > span:last-child{
    padding-left : 32px; 
    align-self: center;
    font-size: 14px;

}
.buy-box {
    display: flex;
    padding : 16px 0 ;
    font-size: 14px;
}
.btn-non-border {
    border: none;
    background: #ee4d2d;
    color: #fff;
}
.btn-border {
    background: #ffeee8;
    border: 1px solid #f84f2f;
    color: #f84f2f;
}
.seller {
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    font-size: 14px;
    line-height: 1.6;
}
.seller-info {
    display: inline-flex; 
    border-right: 1px solid #0000001f;

}
.online {
    opacity: 0.8;
}
.seller-img {
    background-color: #ffffff;
    display: inline-flex;
    width: 78px;
    height: 78px;
justify-content: center;
align-items: center;  
  border-radius: 50%;
    /* overflow: hidden; */
    margin-right: 20px;
    border : 1px solid #0000001f;
    position: relative;
    cursor: pointer;

}
.seller-img::after {
    text-align: center;
    line-height: 18px;
    width: 64px;
    height: 18px;
    bottom: -2px;
    border-radius: 2px;
    font-size: 10px;
    content: " Shopee Mall";
    color: #fff;
    background-color: #D0011B;
    position: absolute;
    z-index: 1;
}
.seller-img img {
    height: auto;
    width: 78px;
    margin: auto;
}
.seller-name{
    width: 360px;
}
.seller-name .name {
    cursor: pointer;
}
.detail-seller-info{
    display: flex;
    padding-left: 55px;

}
.more-info-product {
    display: flex;
}
.detail-seller-info span  {
        padding-left:12px;
        color: #EE4D2D;
}
.detail-seller-info p {
    padding-bottom: 20px;
}
.detail-seller-info div {
    padding-right: 28px;
}
.deatil-product {
    font-size: 14px;
    padding: 40px;
    background-color: #fff;
    margin-left: 0;
}
.deatil-product p {
    font-size: 18px;
    padding : 16px;
    background-color: #FAFAFA;
}
.status-product-title {
     width: 140px;
      padding-left: 16px;
}
.best-seller-list {
    font-size: 14px;

    margin-right: 0 ;

}
.best-seller-title {
    padding-top : 20px;
    text-align: center;
    background-color: #fff;
}
.status-product {
    padding : 30px 15px 15px 15px;
}
.status-product div {
    margin-bottom :  16px;
}
.best-seller-img  {
    height: 190px;
    width: 190px;


}
.best-seller-item {
    padding: 20px; 
    border-bottom: 1px solid #0000001f;
    background-color: #fff;
    cursor:pointer;
}
.more-product-item:hover,
.best-seller-item:hover {
    box-shadow: 0 0 5px rgb(187 187 187 / 67%);
    transform: translateY(-4px);
}
.best-seller-img img{
  width: 100%;
   margin: auto;
}


.best-seller-name {
    padding: 8px 12px 0px 12px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.best-seller-price {
    padding :0 10px;
    font-size: 16px;
}
.more-product-items {
    display: flex;
    margin-left: -12px;
    margin-right: 8px;
    position: relative;

}
.more-product-item {
    background-color: #fff;
    width: calc(16.66667% - 5px );
    padding :16px 0;
    margin: 0 4px ;
}
.more-product-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;

}
.more-product-title h2 {
    font-size: 16px;
    font-weight: 400;
}
.show-all {
    font-size: 12px;
    color: #FF424F;
}
.more-product-name  {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.more-product-list {
    padding:32px  0 80px 0  ;

}
.more-product-price{
    font-size: 16px;
    color: #FF424F;
}

.more-product-img{
    height: 150px;
    width: 150px;
}
.more-product-img img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    
}
.more-product-name-price {
     font-size: 12px;
     padding : 4px 6px ;
}
.more-product-price-selled {
    display: flex;
    padding-top :8px;
}
.more-product-price {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    width: 76px;

}
.more-product-price, .more-product-selled {
    display : inline-block;

}
.more-product-next {
    left: 97%;
}
.more-product-prev {
    left: 0.5%;
}
.over-lay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.281);
    position: fixed;
    z-index: 300;
    display: none;


}
.detail-img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 301;
    width : 840px;
    height : 540px;
    display: none;
    background-color: #fff;
    margin: auto;
    border-radius: 2px;


}
.detail-img h3 {
    padding: 20px 8px 32px 8px;
    font-weight: 500;
}

.detail-big-img {
    width:100%;
    max-height: 100% ;
    margin: auto;
    box-sizing: border-box;


}
.detail-big-img-wrapper img {
    width: 100%;
    max-height: 100% ;

    margin: auto;
}

.detail-small-img-list {
    display: flex;
    flex-wrap:wrap ;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;

}
.detail-small-img-item  {
    width : 90px;
    height : 90px;
    box-sizing: border-box;
    padding : 4px;
    display: flex;
    align-items: center;
    border: 1px solid #0000001f;
    margin: 4px;
    border-radius: 4px;

}
.detail-small-img-item:hover {
  border-color: #ee4d2d;
}
.detail-small-img-item img  {
    width:100%;
    max-height:100% ;
    margin: auto;
}
.big-arrow {
    position: absolute;
    font-size: 20px;
    padding :8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height:50px;
    background-color: #977b6f20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-arrow:hover {
    background-color: #977b6f60;
    color: #fff;

}
.detail-img-next {
   left: 53%;

}
.detail-img-prev {
}



.footer__content{
    display: flex;
    border-top:2px solid #313131;
    margin-top:120px ;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 14px;
}
.footer__content h4 {
    padding: 20px 0;
}
.paymet-deliverly{
    width:180px;
    max-width:100%;
}
.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}
.paymet-deliverly img{
    width:50px;
    max-width:100%;
    margin: auto ;
    cursor: pointer;

}
.footer__qr-app-img img {
   width: 80%;
   cursor: pointer; 
}
.follow a {
    color:#313131;
    display: block;
    margin : 4px 0;
    padding : 4px 0;
    font-size: 14px;
}
.follow i, 
.follow p {
    display: inline-block;
}
.footer__content ul li{
    margin : 4px 0;
    cursor: pointer;
}
.footer__content ul li:hover,
.follow p:hover {
    color: #EE4D2D;

}